<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Top Shelf</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header_top">
                <div class="container">
                    <span>LIMITED OFFER: 30% OFF. Use RABBIT30 at Checkout.</span>
                    <time>23 : 15 : 00</time>
                </div>
            </div>
            <div class="header_middle">
                <div class="container">
                    <div class="logo_block"><a href="#"><img src="images/Logo.jpg" alt="Logo"></a></div>
                    <form class="search_block">
                        <input class="search_block__field" type="search" placeholder="search">
                        <a href="#" class="search_block__button green_btn">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.625 15.75C12.56 15.75 15.75 12.56 15.75 8.625C15.75 4.68997 12.56 1.5 8.625 1.5C4.68997 1.5 1.5 4.68997 1.5 8.625C1.5 12.56 4.68997 15.75 8.625 15.75Z"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.5 16.5L15 15" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </form>
                    <div class="account_block">
                        <a href="#" class="account_block__link">Your Account</a>
                        <div class="account_block__bag">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.5 7.66952V6.69952C7.5 4.44952 9.31 2.23952 11.56 2.02952C14.24 1.76952 16.5 3.87952 16.5 6.50952V7.88952"
                                        stroke="#46494F" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M8.99983 22H14.9998C19.0198 22 19.7398 20.39 19.9498 18.43L20.6998 12.43C20.9698 9.99 20.2698 8 15.9998 8H7.99983C3.72983 8 3.02983 9.99 3.29983 12.43L4.04983 18.43C4.25983 20.39 4.97983 22 8.99983 22Z"
                                        stroke="#46494F" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.4955 12H15.5045" stroke="#46494F" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.49451 12H8.50349" stroke="#46494F" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <input id="opener" type="checkbox">
                    <label class="opener" for="opener">
                        <span></span>
                    </label>
                    <nav class="navigation">
                        <label class="opener" for="opener">
                        </label>
                        <ul class="navigation__list">
                            <li class="navigation__list__element"><a href="#">Shop All</a></li>
                            <li class="navigation__list__element">
                                <a href="#" class="select_link">Flower<span class="icon-ctrl"></span></a>
                            </li>
                            <li class="navigation__list__element"><a href="#">Edibles</a></li>
                            <li class="navigation__list__element">
                                <a href="#" class="select_link">Concentrates<span class="icon-ctrl"></span></a>
                            </li>
                            <li class="navigation__list__element"><a href="#">Mushrooms</a></li>
                            <li class="navigation__list__element">
                                <a href="#" class="select_link">Promotions/Bundles<span class="icon-ctrl"></span></a>
                            </li>
                            <li class="navigation__list__element"><a href="#">Support</a></li>
                            <li class="navigation__list__element"><a href="#">Rewards</a></li>
                            <li class="navigation__list__element"><a href="#">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="introdaction_block">
                <div class="container">
                    <ul class="introdaction_block__list">
                        <li class="introdaction_block__element">
                            <div class="introdaction_block__box">
                                <div class="introdaction_block__box__picture">
                                    <img src="images/truck-fast.png" alt="truck-fast">
                                </div>
                                <h3 class="introdaction_block__box__caption">Reliable Shipping</h3>
                            </div>
                        </li>
                        <li class="introdaction_block__element">
                            <div class="introdaction_block__box">
                                <div class="introdaction_block__box__picture">
                                    <img src="images/safe-home.png" alt="safe-home">
                                </div>
                                <h3 class="introdaction_block__box__caption">You’re Safe With Us</h3>
                            </div>
                        </li>
                        <li class="introdaction_block__element">
                            <div class="introdaction_block__box">
                                <div class="introdaction_block__box__picture">
                                    <img src="images/coin.png" alt="coin">
                                </div>
                                <h3 class="introdaction_block__box__caption">Best Quality & Pricing</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main_block">
                <div class="container">
                    <div class="prime">
                        <div class="sorting_block">
                            <div class="container">
                                <h2>Shop</h2>
                                <div class="sort_block">
                                    <span class="select_value">Sort By Lates <span class="icon-ctrl"></span></span>
                                    <ul class="select_dropdown">
                                        <li>
                                            <span class="select_dropdown__option">Sort by popularity</span>
                                        </li>
                                        <li>
                                            <span class="select_dropdown__option">Sort By reviews</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info_block">
                            <div class="container">
                                <h3 class="info_block__caption">Cannabis</h3>
                                <p class="info_block__text">Here at WestCoastSupply’s “ cannabis section, we showcase
                                    the
                                    best
                                    Indica,
                                    Hybrid, and Sativa medical cannabis strain
                                    selections at the best prices online. You can be assured that all our strains go
                                    through
                                    a
                                    strict
                                    screening process to
                                    ensure that all your cannabis needs are top-quality. All of our flowers are sourced
                                    from
                                    reputable
                                    growers, based in
                                    British Columbia, Canada. We have hige grade selection comes from growers that
                                    produce
                                    AAAA+
                                    quality
                                    cannabis flowers
                                    and have many years of experience in the cannabis industry. You are guaranteed to be
                                    receiving
                                    high-quality flowers at
                                    the best prices online with our unbeatable sales!
                                </p>
                            </div>
                        </div>
                        <div class="product_block">
                            <div class="container">
                                <ul class="product_block__list">
                                    <li>
                                        <div class="card">
                                            <div class="card__picture"><img src="images/prev_ui_1.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Watermelon Zkittles + Purple
                                                    Gushers
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Sativa 100%</div>
                                                <div class="product__prise">
                                                    <div class="product__prise__number">$80.00</div>
                                                    <div class="product__prise__gram">/ gram</div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="yellow_block">$60 ounce</div>
                                                <img src="images/prev_ui_2.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Ahi Tuna + Master Tuna</h4>
                                                <div class="product__reviews product__reviews--big_mg">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="product__prise product__prise--reverse product__prise--big_mg">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="stock_block">Out Of Stock</div>
                                                <img src="images/prev_ui_3.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">CONCENTRATES</div>
                                                <h4 class="product__product">Mix And Match Shatter/Budder 28g (4 X 7G)
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Indica 70%</div>
                                                <div class="product__prise product__prise--reverse">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture"><img src="images/prev_ui_1.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Watermelon Zkittles + Purple
                                                    Gushers
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Sativa 100%</div>
                                                <div class="product__prise">
                                                    <div class="product__prise__number">$80.00</div>
                                                    <div class="product__prise__gram">/ gram</div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="yellow_block">$60 ounce</div>
                                                <img src="images/prev_ui_2.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Ahi Tuna + Master Tuna</h4>
                                                <div class="product__reviews product__reviews--big_mg">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>

                                                <div class="product__prise product__prise--reverse">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="stock_block">Out Of Stock</div>
                                                <img src="images/prev_ui_3.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">CONCENTRATES</div>
                                                <h4 class="product__product">Mix And Match Shatter/Budder 28g (4 X 7G)
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Indica 70%</div>
                                                <div class="product__prise product__prise--reverse">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="special_product_block">
                            <div class="container">
                                <div class="product__info">
                                    <div class="product__form">CONCENTRATES</div>
                                    <div class="product__product">Mix And Match Shatter/Budder 28g
                                        (4 X 7G)
                                    </div>
                                    <div class="product__reviews">
                                        <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                        <div class="review">
                                            <span>135</span>
                                            <span>Reviews</span>
                                        </div>
                                    </div>
                                    <ul class="product__weight">
                                        <li>28g</li>
                                        <li>1/2lb</li>
                                        <li>1/4lb</li>
                                    </ul>
                                    <a href="#" class="green_btn">Add to Cart</a>
                                </div>
                                <div class="special_product_block__picture">
                                    <img src="images/Buddha-Bomb.png" alt="Buddha-Bomb">
                                </div>
                            </div>
                        </div>
                        <div class="product_block">
                            <div class="container">
                                <ul class="product_block__list">
                                    <li>
                                        <div class="card">
                                            <div class="card__picture"><img src="images/prev_ui_1.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Watermelon Zkittles + Purple
                                                    Gushers
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Sativa 100%</div>
                                                <div class="product__prise">
                                                    <div class="product__prise__number">$80.00</div>
                                                    <div class="product__prise__gram">/ gram</div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="yellow_block">$60 ounce</div>
                                                <img src="images/prev_ui_2.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Ahi Tuna + Master Tuna</h4>
                                                <div class="product__reviews product__reviews--big_mg">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="product__prise product__prise--reverse product__prise--big_mg">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="stock_block">Out Of Stock</div>
                                                <img src="images/prev_ui_3.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">CONCENTRATES</div>
                                                <h4 class="product__product">Mix And Match Shatter/Budder 28g (4 X 7G)
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Indica 70%</div>
                                                <div class="product__prise product__prise--reverse">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture"><img src="images/prev_ui_1.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Watermelon Zkittles + Purple
                                                    Gushers
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Sativa 100%</div>
                                                <div class="product__prise">
                                                    <div class="product__prise__number">$80.00</div>
                                                    <div class="product__prise__gram">/ gram</div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="yellow_block">$60 ounce</div>
                                                <img src="images/prev_ui_2.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">FLOWER</div>
                                                <h4 class="product__product">2 Oz Deal Ahi Tuna + Master Tuna</h4>
                                                <div class="product__reviews product__reviews--big_mg">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>

                                                <div class="product__prise product__prise--reverse">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card__picture card__picture--rel">
                                                <div class="stock_block">Out Of Stock</div>
                                                <img src="images/prev_ui_3.png" alt="prev_ui_1">
                                            </div>
                                            <div class="product__info">
                                                <div class="product__form">CONCENTRATES</div>
                                                <h4 class="product__product">Mix And Match Shatter/Budder 28g (4 X 7G)
                                                </h4>
                                                <div class="product__reviews">
                                                    <div class="mark"><span class="icon-star-full"></span> 4.6/5</div>
                                                    <div class="review">
                                                        <span>135</span>
                                                        <span>Reviews</span>
                                                    </div>
                                                </div>
                                                <div class="product__type">Indica 70%</div>
                                                <div class="product__prise product__prise--reverse">
                                                    <div class="product__prise__number">$120.00</div>
                                                    <div class="product__prise__gram product__prise__gram--line">$200.00
                                                    </div>
                                                </div>
                                                <ul class="product__weight">
                                                    <li>28g</li>
                                                    <li>1/2lb</li>
                                                    <li>1/4lb</li>
                                                </ul>
                                                <a href="#" class="green_btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <aside class="sidebar">
                        <div class="container">
                            <h4 class="sidebar__caption">Filters</h4>
                            <h5 class="sidebar__list__caption">PRODUCT CATEGORY</h5>
                            <ul class="sidebar__list">
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch1" name="ch">
                                    <label for="ch1">Sales <span class="number">12</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch2" name="ch">
                                    <label for="ch2">Cannabis<span class="number">430</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch3" name="ch">
                                    <label for="ch3">Pre-Rolls <span class="number">40</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch4" name="ch">
                                    <label for="ch4">CBD Oil <span class="number">20</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch5" name="ch">
                                    <label for="ch5">Magic Mushrooms <span class="number">34</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch6" name="ch">
                                    <label for="ch6">Extracts<span class="number">26</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch7" name="ch">
                                    <label for="ch7">Edibles<span class="number">32</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch8" name="ch">
                                    <label for="ch8">Vape Pens<span class="number">12</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch9" name="ch">
                                    <label for="ch9">Accessories<span class="number">10</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch10" name="ch">
                                    <label for="ch10">Bath & Body<span class="number">8</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch11" name="ch">
                                    <label for="ch11">Bundles<span class="number">24</span></label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="checkbox" id="ch12" name="ch">
                                    <label for="ch12">Wholesale<span class="number">28</span></label>
                                </li>
                            </ul>
                            <h5 class="sidebar__list__caption">ORDER BY</h5>
                            <ul class="sidebar__list">
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd1" name="rd">
                                    <label for="rd1">Default</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd2" name="rd">
                                    <label for="rd2">Review Count</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd3" name="rd">
                                    <label for="rd3">Popularity</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd4" name="rd">
                                    <label for="rd4">Average Rating</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd5" name="rd">
                                    <label for="rd5">Newness</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd6" name="rd">
                                    <label for="rd6">Price: Low to High</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd7" name="rd">
                                    <label for="rd7">Price: High to Low</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd8" name="rd">
                                    <label for="rd8">Random Products</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd9" name="rd">
                                    <label for="rd9">Accessories</label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="rd10" name="rd">
                                    <label for="rd10">Product Name</label>
                                </li>
                            </ul>
                            <h5 class="sidebar__list__caption">FILTER BY REVIEWS</h5>
                            <ul class="sidebar__list">
                                <li class="sidebar__list__element">
                                    <input type="radio" id="st2" name="rd">
                                    <label for="st2">
                                        <ul class="list_star">
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                        </ul>
                                    </label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="st3" name="rd">
                                    <label for="st3">
                                        <ul class="list_star">
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                        </ul>
                                    </label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="st4" name="rd">
                                    <label for="st4">
                                        <ul class="list_star">
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                        </ul>
                                    </label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="st5" name="rd">
                                    <label for="st5">
                                        <ul class="list_star">
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                        </ul>
                                    </label>
                                </li>
                                <li class="sidebar__list__element">
                                    <input type="radio" id="st6" name="rd">
                                    <label for="st6">
                                        <ul class="list_star">
                                            <li><span class="icon-star-full"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                            <li><span class="icon-star-grey"></span></li>
                                        </ul>
                                    </label>
                                </li>
                            </ul>
                            <a href="#" class="clear_btn">Clear Filters</a>
                        </div>
                    </aside>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="green_block">
                    <div class="container">
                        <h1 class="green_block__caption">UNLOCK 20% OFF YOUR FIRST ORDER</h1>
                        <h3 class="green_block__info">Reveal coupon code by entering your email</h3>
                        <form class="email_block">
                            <input class="email_block__field" type="email" placeholder="Email Address">
                            <a href="#" class="email_block__button green_btn">Reveal coupon</a>
                        </form>
                    </div>
                </div>
                <div class="main_footer">
                    <div class="main_footer__info">
                        <div class="logo"><img src="images/Logo_foot.png" alt="logo_foot"></div>
                        <p class="text">#1 Canadian top rated online dispensary that meets the customers needs in every
                            single
                            medical marijuana aspect. The
                            team here at TopShelfBC is heavily involved in the Canadian cannabis industry for over 15
                            years. We strive to provide
                            the top quality products, service and care at the lowest prices you’ll ever find.
                        </p>
                    </div>
                    <nav class="main_footer__navigation">
                        <nav class="first_block">
                            <h3 class="caption">QUICK LINK</h3>
                            <ul class="list list--first">
                                <li class="list__element"> <a href="#">Track Your Order</a></li>
                                <li class="list__element"> <a href="#">Mushrooms</a></li>
                                <li class="list__element"> <a href="#">Shop All</a></li>
                                <li class="list__element"> <a href="#">Promotions / Bundles</a></li>
                                <li class="list__element"> <a href="#">Flower</a></li>
                                <li class="list__element"> <a href="#">Support</a></li>
                                <li class="list__element"> <a href="#">Edibles</a></li>
                                <li class="list__element"> <a href="#">Reward</a></li>
                                <li class="list__element"> <a href="#">Concentrates</a></li>
                                <li class="list__element"> <a href="#">Blog</a></li>
                                <li class="list__element"> <a href="#">Refunds</a></li>
                                <li class="list__element"> <a href="#">Shipping Faq</a></li>
                            </ul>
                        </nav>
                        <div class="second_block">
                            <h3 class="caption">CONTACT US</h3>
                            <a href="mailto:info@topshelfbc.cc">info@topshelfbc.cc</a>
                        </div>
                        <nav class="third_block">
                            <input id="opener_foot" type="checkbox">
                            <label class="opener_foot" for="opener_foot">
                                <h3 class="caption">MORE</h3>
                            </label>
                            <ul class="list list--second">
                                <li><a href="#">Buy weed online in Canada</a></li>
                                <li><a href="#">Buy weed online in New Brunswick</a></li>
                                <li><a href="#">Buy weed online in Prince Edward Island</a></li>
                                <li><a href="#">Buy weed online in Northwest Territories</a></li>
                                <li><a href="#">Buy weed online in Saskatchewan</a></li>
                                <li><a href="#">Buy weed online in Manitoba</a></li>
                                <li><a href="#">Buy weed online in Quitebec</a></li>
                                <li><a href="#">Buy weed online in British Columbia</a></li>
                                <li><a href="#">Buy weed online in Ontario</a></li>
                                <li><a href="#">Buy weed online in Alberta</a></li>
                            </ul>
                        </nav>
                        <div class="four_block">
                            <ul class="payment__list">
                                <li><a href="#"><img src="images/mastercard.png" alt="mastercard"></a></li>
                                <li><a href="#"><img src="images/Visa.png" alt="visa"></a></li>
                                <li><a href="#"><img src="images/bitcoin.png" alt="bitcoin"></a></li>
                                <li><a href="#"><img src="images/Clip.png" alt="clip"></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer_bottom">
                    <span>© 2022 Top Shelf BC. All Rights Reserved.</span>
                    <div class="footer_bottom__block">
                        <span>Out Of Stock</span>
                        <span>Privacy Policy</span>
                        <span>Terms & Conditions</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>