@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?sgewox");
  src: url("../fonts/icomoon.eot?sgewox#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?sgewox") format("truetype"),
    url("../fonts/icomoon.woff?sgewox") format("woff"),
    url("../fonts/icomoon.svg?sgewox#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9d9";
  color: #f2bc1b;
}

.icon-star-grey:before {
  content: "\e9d9";
  color: #e2dfdf;
}

.icon-ctrl:before {
  content: "\ea50";
  font-size: 20px;
}
